/******* 
General
*******/
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,
							BlinkMacSystemFont,
							Segoe UI,
							Roboto,
							Oxygen-Sans,
							Ubuntu,
							Cantarell,
							Helvetica Neue,
							sans-serif;
}

/****** 
Navbar
******/
a.link:focus {
  outline: none;
}

.logo {
	max-width: 8rem;
	max-height: 8rem;
	padding-left: 0;
	margin-left: -2rem;
}

/***********
ProjectList
***********/
img.projects-list { transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) }
img.projects-list:hover { transform: rotate(2deg) scale(1.01) }

/***********
ProjectItem
***********/
img.material {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 
							0 3px 1px -2px rgba(0, 0, 0, .2), 
							0 1px 5px 0 rgba(0, 0, 0, .12);
}